<div class="container text-center text-black mt-3">
    <div class="row pt-3 gap-3 mb-3">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Asset</h5>
                    <hr>
                    <h5 class="card-text">{{ assetsLength }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Asset Deployable</h5>
                    <hr>
                    <h5 class="card-text">{{ assetDeployablesLength }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Asset Deployable General</h5>
                    <hr>
                    <h5 class="card-text">{{ assetDeployableGeneralsLength }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Asset Deployable Components</h5>
                    <hr>
                    <h5 class="card-text">{{ assetDeployableComponentsLength }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>