<div class="container text-center text-black mt-3">

    <button type="button" class="btn btn-secondary" id="backCheckInBtn" routerLink="/check-ins">BACK</button>

    <div class="container-fluid bg-white mt-3 rounded-corner mb-3 border">
        <hr>
        <h2 class="text-center">Check Out List</h2>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Transaction Code</th>
                        <th scope="col">Check Out Time</th>
                        <th scope="col">Asset General</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Location</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="all-accounts">
                    <tr *ngFor="let c of checkOutsDto.data; index as i">
                        <td scope="col">{{ i+1 }}</td>
                        <td scope="col">{{ c.trxCode }}</td>
                        <td scope="col">{{ c.checkOutTime | date:'hh:mm:ss dd-MM-yyyy' }}</td>
                        <td scope="col">
                            <ng-container *ngIf="c.assetGeneralName; else elseBlock">
                                {{ c.assetGeneralName }}
                            </ng-container>
                            <ng-template #elseBlock>-</ng-template>
                        </td>
                        <td scope="col">
                            <ng-container *ngIf="c.employeeName; else elseBlock">
                                {{ c.employeeName }}
                            </ng-container>
                            <ng-template #elseBlock>-</ng-template>
                        </td>
                        <td scope="col">
                            <ng-container *ngIf="c.checkOutLocation; else elseBlock">
                                {{ c.checkOutLocation }}
                            </ng-container>
                            <ng-template #elseBlock>-</ng-template>
                        </td>
                        <td scope="col">
                            <button class="btn btn-primary checkInCheckOutBtn" type="button"
                                routerLink="/check-ins/new/{{c.checkOutId}}">Check In</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>