<div class="container text-center text-black mt-3">
    <h5 class="card-title mb-3">(Dummy Dashboard)</h5>
    <div class="row gap-3 mb-3">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Check Out</h5>
                    <hr>
                    <h5 class="card-text">5</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Asset Check Out Belum Check In</h5>
                    <hr>
                    <h5 class="card-text">8</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Check In</h5>
                    <hr>
                    <h5 class="card-text">5</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Jumlah Asset Yang di Check In</h5>
                    <hr>
                    <h5 class="card-text">7</h5>
                </div>
            </div>
        </div>
    </div>
</div>