<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="photoModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <img src="https://static.generated.photos/vue-static/face-generator/landing/wall/14.jpg"
                    alt="modal-pic-1" id="placeholderModal" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="container text-center text-black">
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Alert!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger deleteUserBtn" data-bs-dismiss="modal"
                        aria-label="Close" (click)="delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary mt-3" type="button" id="addUserBtn" routerLink="/users/new">Add User</button>

    <div class="container-fluid bg-white mt-3 rounded-corner mb-3 border">
        <hr>
        <h2 class="text-center">User List</h2>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">User Photo</th>
                        <th scope="col">Is Active</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody class="all-accounts">
                    <tr *ngFor="let u of usersDto.data; index as i">
                        <td scope="col">{{ i+1 }}</td>
                        <td scope="col">{{ u.fullname }}</td>
                        <td scope="col">{{ u.email }}</td>
                        <td scope="col">{{ u.roleName }}</td>
                        <td scope="col"><img data-bs-toggle="modal" data-bs-target="#photoModal" role="button"
                                src={{fileDownload}}{{u.fileId}} alt="user-pic" class="thumbnail"></td>
                        <td scope="col">{{ u.isActive }}</td>
                        <td scope="col">
                            <button class="btn btn-primary updateUserBtn" type="button"
                                routerLink="/users/edit/{{ u.userId }}">Update</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" (click)="getItemId(u.userId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>