<div class="container-fluid mt-3 rounded-corner mb-3 border bg-light text-dark col-9">
    <h3 class="text-center mt-3">Update Profile</h3>
    <form class="row" #formUpdatePassword="ngForm" (ngSubmit)="formUpdatePassword.valid && saveUpdate()">
        <div class="col-md-6">
            <label for="old-password-profile-update" class="form-label mt-3">Old Password <span
                    class="text-danger">*</span></label>
            <input type="password" class="form-control" id="old-password-profile-update" maxlength="50" required
                [(ngModel)]="userUpdatePasswordReqDto._oldPassword" name="old-password">
        </div>
        <div class="col-md-6">
            <label for="new-password-profile-update" class="form-label mt-3">New Password <span
                    class="text-danger">*</span></label>
            <input type="password" class="form-control" id="new-password-profile-update" maxlength="50" required
                [(ngModel)]="userUpdatePasswordReqDto._newPassword" name="new-password">
        </div>
        <div class="col-md-6">
            <label for="confirm-password-profile-update" class="form-label mt-3">Confirm Password <span
                    class="text-danger">*</span></label>
            <input type="password" class="form-control" id="confirm-password-profile-update" maxlength="50" required
                name="employeeName" [(ngModel)]="confirmPassword" name="confirm-password">
        </div>
        <div class="d-flex mt-4 mb-3 justify-content-between">
            <button type="button" class="btn btn-secondary" id="backProfileBtn" routerLink={{profileUrl}}>BACK</button>
            <button type="submit" class="btn btn-primary" id="saveProfileBtn"
                [disabled]="formUpdatePassword.invalid">SAVE</button>
        </div>
    </form>
</div>